<div class=" container background">
  <div class="row">
    <img class="image-responsive float-center" width="30%" src="http://pixel.nymag.com/imgs/daily/vulture/2015/06/26/26-spotify.w1200.h630.jpg" alt="">
  </div>
  <div class="row">
      <a href="#" class="btn btn-custom btn-roxo btn-lg">Entrar com Facebook</a>
  </div>
  <div class="col-sm-12">
    <div class="divider">
      <strong class="divider-title">ou</strong>
    </div>
  </div>
  <div class="row">
    <form action="">
      <div class="col-md-12">
        <input type="text" placeholder="Nome de usuário ou Endereço de e-mail">
      </div>
      <div class="col-md-12">
        <input type="password" placeholder="Senha.">
      </div>
      <div class="col-md-12">
        <div class="checkbox">
          <label>
            <input id= "checkbox" type="checkbox" value="">
            Lembrar de mim
            </label>
        </div>
        <a href="#" class="btn btn-custom btn-verde">Entrar</a>
      </div>
    </form>
  </div>
  <br>
  <br>
  <a id= "recupera" href="">Esqueceu o usuário ou senha?</a>
  <p>Não tem uma conta?<a id= "recupera" href=""> Inscrever-se</a></p>
  <br>
  <br>
  <p id="termo">Se clicar em "Entrar com o Facebook" e não for usuário do Spotify, você será cadastrado e estará aceitando os Termos e condições e a Política de privacidade do Spotify.</p>
</div> 