/* You can add global styles to this file, and also import other style files */
body{
    
        background: url('imagens/capa.png'),
                    url('imagens/ruido.png'),
                    linear-gradient(to right,#ff4169,#7c26f8);
        background-attachment: fixed;
        font-family: Helvetica, Arial,sans-serif;
        overflow-x: hidden;
}
/*====================Servicos=====================================*/

#servicos{
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.albuns{
	padding: 10px 0px 10px 0px;
}

/*====================Recursos=====================================*/

#recursos{
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: 700;
}

#recursos h3{
	color: #7c25f8;
}

#rotacionar{
	transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	padding-left: 30px;
}




/*====================Tipografia=====================================*/

h1{
	font-size: 100px;
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
}

h2{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3{
	font-size: 35px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

.texto-roxo{
	color:#7c25f8;
}